$red: rgb(255, 111, 111);
$blue: #2f5df2;
$green: rgb(68, 227, 144);
$yellow: #ffb033;
$purple: #7F68F6;

// 返回原始像素单位
@function PX($px) {
    @return #{$px}PX
}

@mixin image-bg($w, $h, $img) {
    width: $w;
    height: $h;
    background: #{$img} no-repeat center;
    background-size: contain;
}

// 单行文本省略
@mixin text-overflow {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

// 多行文本溢出
@mixin text-overflow-line($i:2) {
    display: -webkit-box;

    overflow: hidden;
    text-overflow: ellipsis;
    display: -webkit-box;
    /* autoprefixer: ignore next */
    -webkit-box-orient: vertical;
    -webkit-line-clamp: $i;
}

// 三角形
@mixin triangle($i) {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    width: 0;
    height: 0;
    border: $i solid transparent;
    border-color: transparent #E0ECFF transparent transparent;
}
